.App {
  margin: 5px;
  padding: 10px;
}
.App ul {
  list-style: none;
  padding: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
